html {
	height: 100%;
}

body {
	font-family: Montserrat;
	background-image: radial-gradient(#383A4A, #1C1D26);
	height: 100%;
	margin: 0;
	padding: 0;
}

.root {
	height: 100%;
	display: table;
	width: 100%;
}